
/*.layout {
	height: 600px;
	width: 510px;
	margin-left: 450px;
	margin-top: 150px;
}
*/

body {
  border: 2px black solid;
};

button {
  border: 2px black solid;  
};
.top-button {
  width: 95px;
  height: 95px;
  font-size: 15px;
  font-weight: bold;
  color: gray;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background: white;
  border: 1px solid;
  border-color: black;
  border-radius: 10px;
  cursor: pointer;
  margin: 1px;
}

.background{
  background-color: #808080;
  height: 50px;
  width: 50px;
  border: 1px black solid;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

.layout {
  padding: 2px;
  border: 2px black solid;
  background-color: #D8D8D8;
	height:	417px;
	width: 417px;
	margin-left: 500px;
	margin-top: 200px;
}
